@model IEnumerable<Venta.Web.Models.DetalleventaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Detalleventa Con HTTP</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.idDetalleVenta  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.idDetalleVenta }) |
            </td>
        </tr>
}
    </tbody>
</table>
